.about{
    font-size: 32px;
}
.allcard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    justify-items: center;
}
.card{
    background-color: rgb(225, 225, 225);
    width: 300px;
    height: 100%;
    padding: 2%;
    border-radius: 10%;
}
.cardimage{
    padding: 1%;
}
.cardimage > img{
    width: 95%;
    height: 100%;
    border-radius: 10%;
}
.card-container{
    margin: 5% 1%;
}

