.home-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.home-text{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 6%;
}
#font{
    font-size: 34px;
}

@media screen and (max-width : 889px){  
    .home-avataimg > img{
        width: 75%;
    }
}
@media screen and (max-width : 768px){  
    #font {
        font-size: 26px;
    }
}
@media screen and (max-width : 480px){  
    .navbar-container{
        background-color: rgb(13, 216, 238);
    }
    .home-avataimg > img{
        width: 68%;
    }
    .home-items{
        grid-template-rows: 0.5fr 0.5fr;
    }
    .home-text{
        margin: 12% 18%;
    }
}