.navlinks > ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.navbar-container{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    width: 100%;
    padding: 1%;
    position: fixed;
    background-color: transparent;
}
.navtitle{
    padding: 2% 7%;
}