.skills-text {
    font-size: 30px;
}
.skillimg > img {
    width: 70%;
    height: 100%;
    border-radius: 50%;
    
}
.skills{
    background-color: rgb(180, 178, 178);
    margin: 3%;
    width: 42%;
    border-radius: 25px;
}
.skill-logo-section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}